@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 2em 2em;
    margin: 0 auto;
    width: 70%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(119,119,119);
    font-weight: 400;
    font-size: 16px; /*THE BASE PX IS 16px -> all px are converted to em for responsive*/
    font-style: normal;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content_wrapper {
    /*border: 1px solid #ccc;*/
    border-radius: 0.5em;
    -webkit-box-shadow: 0 0 1em silver;
    box-shadow: 0 0 1em silver;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1rem 3em;
    max-width: 62em; /*980px*/
    min-width: 17.5em; /*280px*/
    width: 100%;
    background-color: rgb(255,255,255);
    display: block;
}

.question_header {
    font-size: 1em; /*14px*/
    padding-bottom: 0.5em;
}

.question_text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875em; /*14px*/
}

.input_text {
    max-width: 280px;
    min-width: 100px;
    height: 25px;
    margin-bottom: 1rem;
    display: block;
    font-size: 0.75em; /*12px*/
}

input[type="text"] {
    font-size: 0.75em;
}

input[type="radio"] {
    vertical-align: baseline;
}

#nextBtn {
    background-color: #ffffff;
    border: #2874A6 0.125em solid; /*2px*/
    color: #2874A6;
    font-size: 0.75em; /*12px*/
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3125em; /*5px*/
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#nextBtn:hover {
    background-color: #2874A6;
    border: #2874A6 0.125em solid; /*2px*/
    color: #ffffff;
    padding: 0.5em 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.3125em; /*5px*/
}

.notice {
    font-size: 1em; /*16px*/
    color: #2874A6;
    padding-bottom: 0.5em;
}

svg {
    display: block;
    margin: auto;
}

svg text, #originData {
    font-size: 0.625em; /*10px*/
}

#originData {
    display: block;
    margin: auto;
    text-align: center;
    line-height: 1.5625em; /*25px*/

}

#slider {
    margin-top: 3em;
    margin-bottom: 3em;
}

#slider .ui-slider-handle {
    font-size: 0.625em; /*10px*/
    width: 2.4em;
    height: 2.4em;
    top: 50%;
    margin-top: -1.2em;
    border-radius: 0.4rem;
    border: #2874A6 0.125em solid; /*2px*/
    text-align: center;
    line-height: 2.4em;
}

#slider .ui-state-active {
    background-color: #2874A6;
}

#slider .ui-slider-range {
    background-color: #D6EAF8;
}


/*Loader animations*/
@keyframes ring_loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ring_loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading {
    display: inline-block;
    width: 2.25em; /*36px*/
    height: 2.25em;
}

.loading:after {
    content: " ";
    display: block;
    width: 1.25em; /*20px*/
    height: 1.25em;
    margin: 0.0625em; /*1px*/
    border-radius: 50%;
    border: 0.3125em solid; /*5px*/
    border-color: #4D90FE transparent #F4D03F transparent;
    animation: ring_loading 5s linear 0s infinite;
    -webkit-animation-name: ring_loading;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.temporary_loading_container {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.navigation_options {
    display: table;
    margin-top: 2em;
}

.navigation_options p{
    margin: 0.25em 0.25em;
}

.navigation_options:hover {
    transform: translate3d(0, -0.5em, 0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #EBF5FB;
}

a { /* All default hyperlink styles are disabled */
    color: inherit;
    text-decoration: none;
}

.navigation_options p a {
    border-bottom: #2874A6 0.125em solid;
}

.navigation_options p a:hover {
    border-bottom: #2874A6 0.125em solid;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}